@font-face{
    font-family:'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format("opentype");
}

@font-face{
    font-family:'Poppins-light';
    src: url('../fonts/Poppins/Poppins-Light.ttf') format("opentype");
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter_18pt-Medium.ttf') format('opentype');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter/Inter_18pt-Bold.ttf') format('opentype');
}